@import url(http://fonts.googleapis.com/css?family=Nova+Square);
@import url(http://fonts.googleapis.com/css?family=Lato:300);
body{
  font-family: 'Lato', sans-serif;
}
.container{
  border: solid 10px #98ba3f;
  padding: 4px;
  margin: 3px;
  border-radius: 8px;
  background-color: #ff9;
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

::-webkit-input-placeholder { color:#fff; }
::-moz-placeholder { color:#fff; }
:-ms-input-placeholder { color:#fff; }
input:-moz-placeholder { color:#fff; }

.container p{
  margin: 6px;
}
h1{
  font-family: 'Nova Square', cursive;
}
.container h1{
  font-family: 'Nova Square', cursive;
  margin: 6px;
  border-bottom: 10px solid #98ba3f;
}
.input {
  background-color: #98ba3f;
  border: 0px;
  border-radius: 8px;
  padding: 3px;
  margin: 3px;
  font-family: Arial;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}
.button{
  border: solid 1px #98ba3f;
  height: 16px;
  border-radius: 5px;
  margin: 6px;
  padding: 3px;
  text-align: center;
  float: left;
  font-family: Arial;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  background-color: #98ba3f;
}

.button:hover {
  background-color: #245191;
    font-family: 'Lato', sans-serif;
}

strong{
  font-family: 'Nova Square', cursive;
  font-size: 20px;
}
.row{
}

.status{
  display: block;
}